<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nexus Chat</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
      * {
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
      }
      /* The main container */

      .container {
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        letter-spacing: 0.5px;
        height: 80%;
      }
    </style>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>
