{% extends 'base.html' %} {% block content %}
<div class="message-box" value="{{course}}">
  <h2>Chat Room: {{course}}</h2>
  <div class="messages" id="messages">
  </div>
  <div class="inputs" value="{{user_id}}">
    <input type="text" rows="3" placeholder="Enter message" name="message" id="message" />
    <button class="btn" type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
  </div>
</div>
<script type="text/javascript">
  var socketio = io.connect('http://127.0.0.1:5000');

  const course = document.getElementsByClassName("message-box")[0].getAttribute("value")
  const user_id = document.getElementsByClassName("inputs")[0].getAttribute("value")
  socketio.emit('join', { data: course });

  const messages = document.getElementById("messages");
  console.log(messages)

  const createMessage = (name, msg, date_sent) => {
    ;
    console.log(name, msg, date_sent)
    const content = `
      <div class="text">
          <span>
              <strong>${name}</strong>: ${msg}
          </span>
          <span class="muted">
              ${new Date(date_sent).toLocaleString()}
          </span>
      </div>
      `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.username, data.message, data.date_sent);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value, room: course, user_id: user_id, date_sent: new Date().toISOString() });
    message.value = "";
  };
</script>
{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.username}}", "{{msg.message}}", "{{msg.date_sent}}");
</script>
{% endfor %} {% endblock %}